.container {

}

body {
	background-color: #FFF5C3;
	color: white;
  text-padding: 150px;
  text-align: center;
}

h1 {
	color: #505050;
}
#box0 {
 	display: block;
  height: 150px;
  width: 150px;
  border-radius: 30px;
  margin: 20px;
  font-size: 50px;
  text-align: center;
  float: left;
}
#box10 {
	clear: both;
}

#box0 {
  clear: both;
}

#play {
	background-color: #129793;
	width: 60px;
}

.squarePerc {
  display: block;
  height: 150px;
  width: 150px;
  background-color: #129793;
  border-radius: 30px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
  text-color: white;
  float: left;
}

.square {
	display: block;
  height: 150px;
  width: 150px;
  background-color: #129793;
  border-radius: 30px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
  float: left;
}

.square1 {
	display: block;
  height: 150px;
  width: 150px;
  background-color: #129793;
  border-radius: 30px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
  float: left;
}
